*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* start header  */
.head{
    margin-top: 40px;
}
.icons{
    margin-top: 10px;
}

.name{
  margin-right: 15px;
  
}
.input-search{
    margin-right: 10px;
}
.header  input{
    outline: none;
    border-color:transparent;
    padding:8px;
    margin-left: 4px;
    transition: all 0.3s ease;
    width:100px ;
}

.header input:focus{
    transform: translate(-7px);
    padding-left: -8px;

}
.icons .third{
    display: inline-block;
    position: relative;
}
.icons .third .nu-2{
    position: absolute;
    top:-20px;
    right:-15px;
    text-align: center;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:#7971ea;
    color:white;
}

.third{
    position: relative;
    display: inline-block;
}

.icons .third:hover .nu-2{
    transform:translate(0px,-5px);
    transition: all 0.3s ease;
 }

 .icons .third:not(:hover) .nu-2{
    transition: all 0.3s ease;
 }



.circle{
    position:absolute;
    width:20px;
    height: 20px;
    background-color: #7971ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-18px;
    right:85px;
}
.header  i{
    color:gray;
}
.truck1{
    transform: scaleX(-1);
}

.icons i{
    margin-left: 5px;
}
.icons i:hover{
    color:#7971ea;
    cursor: pointer;
}

.name p{
    border:2px solid gray;
    padding:8px;
    width: 160px;
    text-align: center;
   
}
.name p:hover{
    cursor: pointer;
}


.change{
    color:gray;
}

a:hover{
    color:#7971ea;
}

.top-bold-gry-line{
    display: flex;
    align-items: center;
    background-color:#f8f9fa ;
    height: 60px;
    padding-left: 120px;
    font-weight: 500;
}
.span-home{
    color:#7971ea
}

.home{
    color:#7971ea;
}



/* SECTION  */

.middle{
    margin-bottom: 100px;
}


.middle i{
  margin-top: 50px;
   font-size:70px;
   color: rgb(9, 161, 9);
}

.dive{
    text-align: center;
}


.btn-back{
    background-color: #7971ea;
text-transform: uppercase;
letter-spacing: 3px;
color:white;
padding:10px 15px;
margin-top:30px;
width:150px;
height: 50px;
transition: all 0.3s ease;
width: 250px;
border-radius: 3px;
border-color:transparent;
}
.btn-back:hover{
    box-shadow: 0px 0px  15px black;
    background-color: rgb(99, 23, 187);
    }
.your-order{
    color:lightgray;
    font-size: 20px;
    font-weight: 400;
}

http://127.0.0.1:5500/shop2.html
@media screen and (max-width:991px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 
}
.maker{
    color:#7971ea;
}
.copyright{
    color:grey;
    text-align: center;
}

@media screen and (min-width:768px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 

    .div-btns{
        width:100px;
    }
    tr td img {
        margin:0 15px;
    }
    tr td{
        padding:5px;
    }
}

@media screen and (min-width:600px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 

    .div-btns{
        width:100px;
    }
    tr td img {
        margin:0 15px;
    }
    tr td{
        padding:5px;
    }
}
@media screen and (max-width:600px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 

    .div-btns{
        width:100px;
    }
    tr td img {
        margin:0 15px;
    }
    tr td{
        padding:5px;
    }
}



@media screen and (max-width:600px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 

    .div-btns{
        width:100px;
    }
    tr td img {
        margin:0 15px;
    }
    tr td{
        padding:5px;
    }
}




@media screen and (max-width:600px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 

    .div-btns{
        width:100px;
    }
    tr td img {
        margin:0 15px;
    }
    tr td{
        padding:5px;
    }
}


@media screen and (max-width:768px) {
    
    .img-about{
        margin-bottom: 20px;
        
    }
    .right-section-div{
       margin-left: 0;
       text-align: center;
    }
    .kort-line{
        margin: auto;
    }
}
@media screen and (max-width:992px) {
    
    .img-about{
        margin-bottom: 20px;
        margin-left: 0%;
        
    }
    .right-section-div{
       margin-left: 0;
     
    }
   
   
}

/* footer  */

.link ul{
    list-style: none;
}
.link ul li a{
    text-decoration: none;
    color:gray;
    margin-left:40px;
}
h6{
    margin-left: 25px;
}

.purple{
    color:#7971ea;
    margin-top:15px;
    margin-bottom: 0;
}

.navigation{
    margin-left:25px;
}

.p-f{
    color:gray;
    font-size:14px;
    margin-top:0;
}

.img-img{
    border-radius:3px;
    object-fit: cover;
}


.contact i{
    color:#7971ea;
}

.con{
    border:1px solid lightgray;
    display: flex;
    border-radius: 3px;
    padding:2px 0;
    padding-right:2px;
    padding-left:5px;

}
.con .input-email{
    width:100%;
    outline:none;
    /* padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px; */
    border:1px solid transparent;
    
}
.contact{
    margin-bottom:40px;
}
.btn-footer{
    background-color:#7971ea;
    padding:7px 20px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-color:transparent;
    border-radius: 3px;
}

.title{
    font-size:20px;
    font-weight: 500;
}
.title-sub{
    font-size: 20px;
    font-weight: normal;
}

.link .link-link ul li a:hover{
    color:#7971ea
}

.link .link-link ul li{
    margin-top:20px;
}
@media screen and (max-width:991px) {
    .navigation{
        margin-left:0;
    }
     .link-link ul li .a{
        margin-left:14px;
    } 
    .btn-footer:hover{
        padding-left: 0;
        padding-right: 0;
    }
}
.maker{
    color:#7971ea;
}
.copyright{
    color:grey;
    text-align: center;
}
.btn-footer:hover{
    background-color:blueviolet;
    transform: translateY(-3px);
    box-shadow: 0 0 5px black;
   
}

